<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:fragment="instagram_post">
  <body>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal 제목</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

          <div class="section" id="section">
              <input type="radio" name="slide" id="slide01" checked>
              <input type="radio" name="slide" id="slide02">
              <input type="radio" name="slide" id="slide03">
              <input type="radio" name="slide" id="slide04">
              <input type="radio" name="slide" id="slide05">
              <input type="radio" name="slide" id="slide06">
              <input type="radio" name="slide" id="slide07">
              <input type="radio" name="slide" id="slide08">
              <input type="radio" name="slide" id="slide09">
              <div class="slidewrap">
                  <ul class="slidelist">
                      <li>
                          <a>
                              <img src="" id="image1" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image2" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image3" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image4" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image5" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image6" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image7" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image8" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image9" crossorigin="anonymous">
                          </a>
                      </li>
                  </ul>

                  <div class="slide_control_wrap">
<!--                      <div class="slide-control">-->
    <!--                      <div class="control01">-->
    <!--                          <label for="slide02" class="left"></label>-->
    <!--                          <label for="slide02" class="right"></label>-->
    <!--                      </div>-->
    <!--                      <div class="control02">-->
    <!--                          <label for="slide01" class="left"></label>-->
    <!--                          <label for="slide01" class="right"></label>-->
    <!--                      </div>-->

    <!--                      <div class="control01">-->
    <!--                          <label for="slide03" class="left"></label>-->
    <!--                          <label for="slide02" class="right"></label>-->
    <!--                      </div>-->
    <!--                      <div class="control02">-->
    <!--                          <label for="slide01" class="left"></label>-->
    <!--                          <label for="slide03" class="right"></label>-->
    <!--                      </div>-->
    <!--                      <div class="control03">-->
    <!--                          <label for="slide02" class="left"></label>-->
    <!--                          <label for="slide01" class="right"></label>-->
    <!--                      </div>-->
<!--                      </div>-->
                  </div>
              </div>
          </div>


<!--          <img id="image1"-->
<!--               src=""-->
<!--               alt="111"-->
<!--               crossorigin="anonymous">-->

<!--          <img id="image2"-->
<!--               src=""-->
<!--               alt="222"-->
<!--               crossorigin="anonymous">-->



<!--        <div class="modal-body">내용 입력 !!</div>-->
<!--          <img src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/160575021_485843609465875_325530526048323138_n.jpg?stp=dst-jpg_e35_s1080x1080&_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=Wg6PsgASVBkAX_tf1Fu&edm=ABZsPhsBAAAA&ccb=7-5&oh=00_AT-Op6T0HZVcguwAnb20xjxmMxUQJY-K9CCZekXRm2yVEg&oe=631D738E&_nc_sid=4efc9f"-->
<!--               alt="Grapefruit slice atop a pile of other slices"-->
<!--               crossorigin="anonymous">-->

<!--          <img src="../img/markers/mapMarker1.png"-->
<!--               alt="mapMarker1">-->
<!--          <img src="https://cdn.pixabay.com/photo/2020/04/28/19/36/heart-5106075_960_720.png"-->
<!--               alt="Grapefruit slice atop a pile of other slices">-->

          <!--          <tbody>-->
<!--          <tr th:each="post : ${postDtoList}">-->
<!--              <td th:text="${post.instagramPostDocumentId}" th:name="${post.instagramPostDocumentId}"></td>-->
<!--              <td th:text="${post.imageUrl}" th:name="${post.imageUrl}"></td>-->
<!--          </tr>-->
<!--          </tbody>-->
        <div class="modal-footer">
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
          <button class="btn" type="button" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>-->

  <link href="/css/instagramPost.css" rel="stylesheet">

  <script type="text/javascript" src="/js/instagramPost.js"></script>

  </body>
</th:block>
</html>