<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:fragment="instagram_post">
  <body>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal 제목</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

          <div class="section" id="section">
              <input type="radio" name="slide" id="slide01" checked>
              <input type="radio" name="slide" id="slide02">
              <input type="radio" name="slide" id="slide03">
              <input type="radio" name="slide" id="slide04">
              <input type="radio" name="slide" id="slide05">
              <input type="radio" name="slide" id="slide06">
              <input type="radio" name="slide" id="slide07">
              <input type="radio" name="slide" id="slide08">
              <input type="radio" name="slide" id="slide09">
              <div class="slidewrap">
                  <ul class="slidelist">
                      <li>
                          <a>
                              <img src="" id="image1" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image2" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image3" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image4" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image5" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image6" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image7" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image8" crossorigin="anonymous">
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="" id="image9" crossorigin="anonymous">
                          </a>
                      </li>
                  </ul>

                  <div class="slide_control_wrap">
                  </div>
              </div>
          </div>
        <div class="modal-footer">
          <button class="btn" type="button" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>-->

  <link href="/css/instagramPost.css" rel="stylesheet">

  <script type="text/javascript" src="/js/instagramPost.js"></script>

  </body>
</th:block>
</html>