<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<html>-->
<!--<html lang="es" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>s_tag</title>
</head>

<body id="body-pd">

<div th:replace="~{modal/instagramPost :: instagram_post}"></div>

<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
<!--            <p>로그인</p>-->

            <div sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>님
            </div>
            <div sec:authorize="hasRole('ROLE_MEMBER')">멤버 권한</div>
            <div sec:authorize="hasRole('ROLE_ADMINTRAINEE')">관리자 권한</div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">마스터 권한</div>
<!--            <div sec:authorize="hasRole('ROLE_ADMIN')">로그인 성공</div>-->
<!--            <p sec:authorize="isAuthenticated()">로그인 성공</p>-->
<!--            <p sec:authorize access="isAuthenticated()">로그인 성공</p>-->
<!--            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>-->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <span sec:authentication="username"></span>님 환영합니다.-->
<!--            </div>-->
<!--            <div th:if="${#authorization.expr('isAuthenticated()')}">로그인 성공</div>-->
<!--            <div sec:authentication="name">cc</div>-->
<!--            <div sec:authorize="hasAuthority('ROLE_MEMBER')">cc</div>-->
<!--&lt;!&ndash;            <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>&ndash;&gt;-->

<!--            <p sec:authorize="!isAuthenticated()">로그인 필요</p>-->

            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
<!--                <a href="#" class="nav__logo" sec:authorize="!isAuthenticated()">로그인 필요</a>-->
<!--                <a href="#" class="nav__logo"></a>-->
            </div>
            <div class="nav__list">
                <a href="/" class="nav__link active">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a href="#" onclick="getHashtagByKeyword();" class="nav__link">
                    <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Messenger</span>
                </a>

                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINTRAINEE')" href="#" class="nav__link collapse">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Admin</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="/api/admin/members/list " class="collapse__sublink">Members</a>
                        <a href="/api/admin/schedule/list" class="collapse__sublink">schedule</a>
                        <a href="/api/admin/schedule/history" class="collapse__sublink">scheduleHistory</a>
                    </ul>
                </div>
                <a href="#" onclick="kakaoMap();" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Analytics</span>
                </a>

                <div href="#" onclick="" class="nav__link collapse">
                    <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Team</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="/instagramPost" class="collapse__sublink">Data</a>
                        <a href="#" class="collapse__sublink">Group</a>
                        <a href="#" class="collapse__sublink">Members</a>
                    </ul>
                </div>

                <a href="/scheduler/start" class="nav__link">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Settings</span>
                </a>
            </div>
            <a href="/api/members/add" class="nav__link">
                <ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">Sign-up</span>
            </a>
            <a sec:authorize="!isAuthenticated()" href="/login" class="nav__link">
                <ion-icon name="log-in-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">Log in</span>
            </a>
            <a sec:authorize="isAuthenticated()" href="/logout" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">Log out</span>
            </a>

<!--            <a sec:authorize="isAuthenticated()" onclick="logout_post()" class="nav__link">-->
<!--                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>-->
<!--                <span class="nav_name">Log out</span>-->
<!--            </a>-->
        </div>
    </nav>
</div>
<p id="result"></p>
<p id="result2"></p>
<p id="result3"></p>
<div id="map" style="width: 99%; height: 600px; position: relative; z-index: 1;">
    <div id="searchBar">
        <div class="category_wrap">
            <button id="btn_cafe" value="CE7" style="width: 60px; height: 25px; left: 60px; top: 20px; position: relative;">카페</button>
            <button id="btn_food" class="selected" value="FD6" style="width: 60px; height: 25px; left: 110px; top: 20px; position: relative;">음식점</button>
        </div>
        <div>
<!--            <input type="text" id="searchBox" name="searchBox" class="form-control" placeholder="지역을 입력하세요" style="left: 30px; top: 40px; position: relative;">-->
            <input type="text" id="searchBox" name="searchBox" class="form-control" placeholder="지역을 입력하세요"
                   style="left: 30px; top: 40px; width: 240px; height: 35px; position: relative; ">
        </div>
        <button id="btn_check1" class="bi-check-lg" style="width: 40px; height: 25px; left: 30px; top: 50px; font-size: 13px; position: relative; border: 0;">
        </button>
        <button id="btn_check2" class="bi-check-lg" style="width: 40px; height: 25px; left: 30px; top: 50px; font-size: 13px; position: relative; border: 0;">
        </button>
        <button id="btn_check3" class="bi-check-lg" style="width: 40px; height: 25px; left: 30px; top: 50px; font-size: 13px; position: relative; border: 0;">
        </button>
        <button id="btn_check4" class="bi-check-lg" style="width: 40px; height: 25px; left: 30px; top: 50px; font-size: 13px; position: relative; border: 0;">
        </button>
        <button id="btn_check5" class="bi-check-lg" style="width: 40px; height: 25px; left: 30px; top: 50px; font-size: 13px; position: relative; border: 0;">
        </button>
<!--        <button id="btn_check1" style="width: 40px; height: 25px; left: 30px; top: 60px; position: relative;">-->
<!--            <ion-icon name="checkmark-outline"></ion-icon>-->
<!--        </button>-->
<!--        <button id="btn_check2" style="width: 40px; height: 25px; left: 30px; top: 60px; position: relative;">-->
<!--            <ion-icon name="checkmark-outline"></ion-icon>-->
<!--        </button>-->
<!--        <button id="btn_check3" style="width: 40px; height: 25px; left: 30px; top: 60px; position: relative;">-->
<!--            <ion-icon name="checkmark-outline"></ion-icon>-->
<!--        </button>-->
<!--        <button id="btn_check4" style="width: 40px; height: 25px; left: 30px; top: 60px; position: relative;">-->
<!--            <ion-icon name="checkmark-outline"></ion-icon>-->
<!--        </button>-->
<!--        <button id="btn_check5" style="width: 40px; height: 25px; left: 30px; top: 60px; position: relative;">-->
<!--            <ion-icon name="checkmark-outline"></ion-icon>-->
<!--        </button>-->
        <h6 class="mb-3" style="left: 30px; top: 70px; position: relative; font-size: 13px">구간별 해시태그 개수</h6>
        <div style="float:left; width: 40px; left: 30px; top: 70px; position: relative; background: transparent; border-top: solid red 5px; border-left:none; border-bottom:none; border-right:none;"></div>
        <div style="float:left; width: 40px; left: 30px; top: 70px; position: relative; background: transparent; border-top: solid blue 5px; border-left:none; border-bottom:none; border-right:none;"></div>
        <div style="float:left; width: 40px; left: 30px; top: 70px; position: relative; background: transparent; border-top: solid yellow 5px; border-left:none; border-bottom:none; border-right:none;"></div>
        <div style="float:left; width: 40px; left: 30px; top: 70px; position: relative; background: transparent; border-top: solid green 5px; border-left:none; border-bottom:none; border-right:none;"></div>
        <div style="float:left; width: 40px; left: 30px; top: 70px; position: relative; background: transparent; border-top: solid violet 5px; border-left:none; border-bottom:none; border-right:none;"></div>
        <div style="float:left; top: 80px; right: 140px; position: relative;">1</div>
        <div style="float:left; top: 80px; right: 100px; position: relative;">2</div>
        <div style="float:left; top: 80px; right: 60px; position: relative;">3</div>
        <div style="float:left; top: 80px; right: 20px; position: relative;">4</div>
    </div>
</div>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->


<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>-->


<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>-->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

 <!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">-->

<link href="/css/sideBar.css" rel="stylesheet">
<link href="/css/bubble.css" rel="stylesheet">
<link href="/css/searchBar.css" rel="stylesheet">
<link href="/css/kakaoMap.css" rel="stylesheet">

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<!-- kakao services 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e3911e7fa46ab16ff0c8b85eb101877e&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e3911e7fa46ab16ff0c8b85eb101877e"></script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/kakaoMap.js"></script>
<script type="text/javascript" src="/js/searchBar.js"></script>


</body>

</html>