<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 수정 폼</h2>
    </div>
    <form action="item.html" th:action method="post">
        <div class="conditionForm">
            <div class="formItem1">
                <label for="id">상품 ID</label>
                <input type="text" id="id" name="id" class="form-control" value="1" readonly>
            </div>
            <div class="formItem2">
                <label for="itemName">상품명</label>
                <input type="text" id="itemName" name="itemName" class="form-control" value="상품A">
            </div>
            <div class="formItem3">
                <label for="price">가격</label>
                <input type="text" id="price" name="price" class="form-control" value="10000">
            </div>
            <div class="formItem4">
                <label for="quantity">수량</label>
                <input type="text" id="quantity" name="quantity" class="form-control" value="10">
            </div>
            <div class="formItem4">
                <label for="quantity">수량2</label>
                <input type="text" id="aa" name="quantity" class="form-control" value="10">
            </div>
        </div>
    </form>
</div> <!-- /container -->

<!-- CSS -->
<link href="/css/scheduleEdit.css" rel="stylesheet">

</body>
</html>