#searchCondition {
    width: 90%;
}

.conditionForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    height: 100px;
}

.formItem {
    display: flex;
    justify-content: space-around;
    width: 350px;
    padding-left: 50px;
}

.conditionForm label {
    text-align: right;
    width: 160px;
    padding-right: 10px;
    position: relative;
    top: 5px;
    font-size: 12px;
}

#dropdownMenuButton {
    width: 200.7px;
}

#selectBox {
    width: 285px;
}