#searchBar {
    width: 300px;
    height: 230px;
    background: #fff;
    position: absolute;
    z-index:2;
    right:5px;
}

.category_wrap button {
    border-radius: 10px;
    border-color: #d8a0fa;
    outline: none;
    color: #d8a0fa;
    background-color: #fff;
    font-size: 13px;
}
.category_wrap button.selected {
    background-color: #d8a0fa;
    color: #fff;
}

.bar_wrap {
    display: flex;
    float:left;
}